body{
    margin:0;
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1558769132-cb1aea458c5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    overflow: hidden;

}
h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    text-align: center;
    color: rgb(223, 172, 3);
}

.clock{
    display: flex;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;
    opacity:0.8;
    background: darksalmon;
    color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: brown;
    opacity:1.4;
    
}

.clock #ampm{
    bottom: 0;
    position:relative;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(117, 6, 6);
}