

.myBtn{
    cursor:pointer; 
    width: 80px;
    height: 30px;
    font-family: consolas ,monospace;
    text-align: center;
    justify-content: center;
    border: 3px solid;
    border-radius: 30px;
    background-color: #222222;
    color: white;
    
}

#displaytime{

    font-size: 75px;
    color:palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#container{

    text-align: center;
    border:3px solid;
    border-radius: 15px;
    background-color: #444444;

}